@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 3px rgba(0, 0, 0, 0.24);
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: 20px;
    /* width: 500px; */
    width: 50vw;
}

.balance {
    margin: 0;
}

h3 {
    border-bottom: 1px solid #bbb;
    padding: 30px 0 10px 0;
}

h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 20px;
}

.inc-exp-container {
    background-color: white;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.inc-exp-container div {
    flex: 1;
    text-align: center;
    align-self: center;
}

.inc-exp-container div:first-of-type {
    border-right: 1px solid #bbb;
}

.inc-exp-container h4 {
    margin: 7px 0 0;
}

.money {
    font-size: 20px;
    margin: 5px 0;
    font-weight: bold;
}

.money.plus {
    color: #2ecc71;
}

.money.minus {
    color: #c0392b;
}

.plus {
    color: #2ecc71;
}

.minus {
    color: #c0392b;
}

label {
    display: block;
    margin: 10px 0;
}

input {
    background-color: white;
    border: 1px solid #dedede;
    border-radius: 4px;
    font-size: 14px;
    padding: 7px;
    width: 100%;
}

.btn {
    background-color: #9c88ff;
    color: white;
    width: 100%;
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: var(--box-shadow);
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin: 20px 0;
}

input:focus,
.btn:focus {
    outline: 0;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    background-color: white;
    box-shadow: var(--box-shadow);
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    margin: 10px 0;
    position: relative;
}

.list li.plus {
    border-right: 5px solid #2ecc71;
}

.list li.minus {
    border-right: 5px solid #c0392b;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: 0;
    font-size: 20px;
    padding: 2px 5px;
    position: absolute;
    left: -20px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
    opacity: 1;
}

@media (max-width: 750px) {
    .container {
        width: 80vw;
    }
}